@font-face {
  font-family: "Corbel";
  src: url("@/static/typeface/corbel.ttf");
}

@font-face {
  font-family: "Corbelb";
  src: url("@/static/typeface/corbelb.ttf");
}

@font-face {
  font-family: "DIN Regular";
  src: url("@/static/typeface/DIN-Regular.otf");
}

@font-face {
  font-family: "DIN Medium";
  src: url("@/static/typeface/DIN-Medium.otf");
}

@font-face {
  font-family: "DIN Black";
  src: url("@/static/typeface/DIN-Black.otf");
}